@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto&display=swap');

/*variables*/

:root {
    --main-bg-color: #131313;
    --header-bg-color: #101D42;
    --card-bg-color: #393e46;
    --shadow-color: #25282e;
    --accent-color: #6564DB;
    --font-color: #eeeeee;
}


/*main*/

main {
    color: var(--main-bg-color);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 10vh;
}


/* navbar */

header {
    background-color: var(--header-bg-color);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 10%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    font-family: 'Abel', sans-serif;
}

header * {
    display: inline;
}

#name {
    color: var(--font-color);
    display: block;
    text-decoration: none;
}

.nav-links {
    height: 10%;
    align-self: center;
    display: flex;
    align-content: space-evenly;
    align-items: center;
}

.nav-element {
    margin-right: 4rem;
    font-size: x-large;
    color: var(--font-color);
}

.nav-element a {
    color: var(--font-color);
    text-decoration: none;
}

.nav-element a:hover {
    color: var(--accent-color);
}

nav li a:visited {
    color: var(--font-color)
}

header h1 {
    margin-left: 40px;
}


/* BODY */

body {
    background-color: var(--main-bg-color);
    display: flex;
}

.card {
    max-height: 15em;
    max-width: 40%;
    width: auto;
    margin: 10px;
    padding: 5px;
    background-color: var(--card-bg-color);
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 whitesmoke;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 0 10px 0 whitesmoke;
}

.card img {
    object-fit: contain;
    height: 200px;
    padding: 5px;
    border-radius: 12px;
}

.card-text {
    padding: 3px 5px;
}

.card-text h1 {
    font: 'Abel', sans-serif;
    color: var(--font-color);
    font-size: x-large;
    text-shadow: black;
}

.card-text p {
    padding-top: 5px;
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
    font-size: large;
    word-wrap: break-word;
}


/* FOOTER */