@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto&display=swap');

/*variables*/

:root {
    --main-bg-color: #131313;
    --header-bg-color: #101D42;
    --card-bg-color: #393e46;
    --shadow-color: #25282e;
    --accent-color: #6564DB;
    --font-color: #eeeeee;
}

main {
    color: var(--main-bg-color);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 10vh;
}


/* navbar */

header {
    background-color: var(--header-bg-color);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 10px;
    display: block;
    font-family: 'Abel', sans-serif;
}

#name {
    color: var(--font-color);
    display: block;
    text-decoration: none;
}

#name:hover {
    color: green;
}

header nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    color: var(--font-color);
    display: inline-block;
    text-decoration: none;
    margin-right: 4rem;
    font-size: 3rem;
}

nav li a {
    color: var(--font-color)
}

nav li a:hover {
    color: var(--accent-color);
}

nav li a:visited {
    color: var(--font-color)
}

header h1 {
    margin-left: 40px;
}


/* BODY */

body {
    background-color: var(--main-bg-color);
}

.card {
    max-height: 15em;
    max-width: 50%;
    width: auto;
    margin: 5%;
    padding: 5px;
    background-color: var(--card-bg-color);
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 whitesmoke;
}

.card img {
    object-fit: contain;
    height: 200px;
    padding: 0 5%;
    border-radius: 12px;
}

.card p {
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
    font-size: 1.2em;
    padding: 5px;
    word-wrap: break-word;
}


/* FOOTER */

footer {}


/*other classes*/